.footer-chat-profile {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left:0;
  right: 0;
  position: fixed;
}

.footer-chat-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-link {
  margin-top: 27px;
  cursor: pointer;
  text-decoration: none;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.footer-link-active {
  transition: border-bottom .5s ease-in-out;
  font-weight: bold;
  margin-top: 27px;
}

.footer-dot-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3e99c0;
  text-align: center;
}

.footer-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin-top:13px;
}

.footer-link-active > .footer-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3e99c0;
  margin-left: 36%;
  margin-top:13px;
}

@media screen and (max-width: 1700px) {
  .footer-chat-profile {
    padding-left: 30%;
    padding-right: 30%;
  }
}

  @media screen and (max-width: 750px) {
    .footer-chat-profile {
      padding-left: 0;
      padding-right: 0;
    }
}