.search-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.search {
  background-color: #f2f9fb;
  border: none;
  border-radius: 10px;
  max-width: 343px;
  min-width: 255px;
  height: 40px;
  left: 16px;
  top: 80px;
  padding-left: 10px;
}

.user-list-in-search {
  padding-top: 15px;
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  align-items: center;
}

.cancel-input-in-search {
  background-color: white;
  color: #4c9999;
  border: none;
  margin-left: 2px;
  padding-left: 10px;
  border-radius: 0px;
}

.cancel-input-in-search:hover {
  cursor: pointer;
}

.user-details {
  width: 90%;
  background-color: white;
  position: relative;
  z-index: 10;
  padding: 7px;
}

.search-image-container {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}

.search-image {
  width: 100%;
  height: auto;
}

.search-user-render {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
