.overview {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
.chatTitle {
  width: 90%;
  height: 20%;
  margin: 10px;
  text-align: center;
}

.btn-and-profile {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
  /* some CSS here */
}
