.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-title {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.search {
  width: 90%;
  margin: auto;
}

.users-list {
  width: 90%;
  margin-top: 20px;
}

.btn-and-profile {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-and-profile a:hover {
  text-decoration: none;
  color: #4c9999;
}

.chat-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4c9999;
  position: fixed;
  bottom: -8px;
}

.title-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  position: fixed;
  bottom: -8px;
}
