.header-profile ul, .user-email, .user-phone {
  display: flex;
}

.header-profile ul {
  justify-content: space-between;
  list-style: none;
}

.header-profile {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background-color: #ffb127;
  padding: 3% 5% 0;
}

.svg-inline--fa {
  color: #3e99c0;
}

.svg-inline--fa.fa-w-16 {
  width: 1.5em;
  height: 1.5em;
}

.svg-inline--fa.fa-w-14 {
  width: 1.7em;
  height: 1.7em;
}

.icon {
  width: 30%;
  margin-top: 5%;
}

.email-info, .phone-info {
  text-align: left;
  line-height: 0.5;
}

.name-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-email, .user-phone {
  border-radius: 15px;
  box-shadow: 2px 2px 4px #2b3233;
  padding: 1%;
  width: 80%;
  margin: 0 auto 5%;
}

.name-image-container {
  background-color: #ffb127;
  background-image: -webkit-linear-gradient( -75deg, #ffb127 49.95%, #ffffff 50.05%);
  min-height: 50px;
}

.name-image-container img {
  width: 30%;
  border-radius: 50%;
  padding: 0.5%;
  background: white;
  box-shadow: 1px 1px 2px #2b3233;
  margin-top: 18%;
}