.header-profile ul,
.user-email,
.user-phone,
.name-edit-btn,
.phone-info {
  display: flex;
}

.profile-blue-area {
  background-image: -webkit-linear-gradient(
    -75deg,
    #3e99c0 49.95%,
    #ffffff 50.05%
  );
  min-height: 45px;
  height: 450px;
}

.profile-btn-container {
  display: flex;
  justify-content: flex-end;
}

.profile-sign-out-btn {
  text-align: center;
  border: 1px solid white;
  width: 100px;
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.profile-sign-out-btn button {
  cursor: pointer !important;
}

.name-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-image-container {
  font-size: 20px;
  margin-top: 40px;
}

.profile-image-cropper {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background: #f7f9fb;
  box-shadow: 1px 1px 1px #3e99c0;
  margin-top: 15%;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}

.profile-image {
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-image-edit-before {
  font-size: 45px;
  opacity: 0.1;
  margin-top: -140px;
  opacity: 0;
}

.profile-image-edit-after {
  font-size: 45px;
  opacity: 0.1;
  margin-top: -130px;
  opacity: 0.8;
}

.name-edit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 5px;
}

.profile-user-role {
  padding-bottom: 10px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

.profile-user-role h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-email,
.user-phone {
  border-radius: 8px;
  border: 1px solid #3e99c0;
  padding: 5px;
  width: 295px;
  height: 48px;
  margin: 0 auto 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-name-input-change {
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid #3e99c0;
  padding: 3%;
  width: 295px;
  height: 48px;
}

.profile-phone-input-change {
  color: #333;
  padding: 0rem 0rem;
  background-color: rgb(255, 255, 255);
  border: none;
}

.profile-phone-input-change:focus,
.profile-name-input-change:focus {
  outline: none;
}

.edit-button {
  width: 295px;
  height: 48px;
}

.user-email {
  border-radius: 8px;
  border: 1px solid #3e99c0;
  padding: 3%;
  width: 295px;
  height: 48px;
  margin: 0 auto 5%;
}

.email-info p,
.phone-info p {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.phone-info input {
  font-size: 17px;
}

/*Icons */
.profile-icon {
  width: 40px;
}

.svg-inline--fa {
  color: #3e99c0;
}

.svg-inline--fa.fa-w-16 {
  width: 1.5em;
  height: 1.5em;
}

.svg-inline--fa.fa-w-14 {
  width: 1.6em;
  height: 1.6em;
}

.profile-email-input-change:disabled {
  padding: 0rem 0rem;
  background-color: rgb(255, 255, 255);
  border: none;
}

.profile-email-input-change {
  border: 1px solid #dbf3fd;
}
