.outside {
  display: flex;
  flex-direction: row;
  max-width: 250px
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 14px;
  padding-bottom: 8px;
  padding-top: 24px;
}

.room-title {
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
}

.room-image-cropper {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.room-profile-pic {
display: inline;
margin: 0 auto;
margin-left: 0; 
height: 100%;
width: auto;
}