.sign-out-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  font-size: 17px;
  cursor: pointer;
}
