.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-icon {
  font-size: 30px;
  color: #3e99c0;
  justify-content: flex-start;
  margin-left: 10%;
}

.sign-in-inputs {
  display: flex;
  flex-direction: column;
}

.sign-in-title {
  color: black;
  justify-content: center;
  margin-top: -30px;
}

.sign-in-email input,
.sign-in-password input {
  display: inline-block;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(237, 233, 233);
  width: 295px;
}

.sign-in-email input {
  margin-top: 65px;
  margin-bottom: 30px;
}

.sign-in-button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  font-size: 17px;
  width: 295px;
  height: 48px;
  margin-top: 30%;
}
