.user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2% auto;
}

.user-list {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
  width: 100%;
}

.user-list img {
  width: 20%;
  border-radius: 50%;
}