.container {
  width: 90%;
  height: 50%;
  margin: auto;
}
.wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 80%;
}
.user-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 3%;
  width: 60%;
  height: 40%;
}

.user-list li {
  list-style-type: none;
}
img {
  width: 70%;
  height: 40%;
  border-radius: 50%;
}
.user-list li span {
  padding: 3px;
}
