/*button {
  height: 50px;
  min-width: 50px;
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
  border: 0;
  background-color: #f0f8ff;
  padding: 5px;
}*/

.new-room {
  font-size: 10px;
  font-weight: bolder;
}

.new-room-form {
  display: flex;
  margin-right: 10px;
  padding: 15px;
}

.create-room-btn {
  font-size: 20px;
  color: #00bfff;
}