button {
  height: 50px;
  min-width: 50px;
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
  border: solid 1px red;
}

div.new-room {
  font-size: 5px;
  font-weight: bolder;
}

.new-room-form {
  display: flex;
  margin-right: 10px;
}

.create-room-btn {
  font-size: 30px
}
