.add-image-to-room-input-file {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add-image-to-room-label {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-top: 12px;
  height: auto;
  color: white;
  background-color: #a6c5d7;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.add-image-to-room_upload-image-button {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  position: relative;
}

.add-image-to-room_button button:hover {
  cursor: pointer;
}

.add-image-to-room_image-preview img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
}
