.channel-head-navigation {
  margin-bottom: 5%;
  height: 12vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-head-navigation .channel-info {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.channel-info .navigation-icon {
  font-size: 30px;
  margin-left: 5%;
}

.channel-info .channel-head-img {
  border-radius: 50%;
  max-width: 15%;
}

.channel-info .channel-head-name {
  margin: auto 10px;
  color: black;
}

.channel-head-navigation .channel-information-button {
  margin-right: 5%;
  font-size: 20px;
}