.channel-head-navigation {
  height: 12vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-head-navigation .channel-info {
  display: flex;
  justify-content: start;
  width: calc(100% - 40px);
}

.channel-info .navigation-icon {
  font-size: 30px;
  margin-left: 5%;
  margin-right: 12px;
}

.channel-info .channel-head-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.channel-info .channel-head-name {
  margin: auto 10px;
  color: black;
}

.channel-head-navigation .channel-information-button {
  margin-right: 5%;
  font-size: 20px;
  cursor: pointer;
}
