.channel-head-div {
  position: relative;
  height: 10vh;
  background-color: lightblue;
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
}
.channel-head-div .channel-head-back-arrow-icon {
  position: relative;
  font-weight: bold;
  color: blue;
  text-decoration-line: none;
}
.channel-head-div .backArrowIcon h1 {
  position: relative;
  margin: auto 10px;
}
.channel-head-div .channel-head-img {
  position: relative;
  border-radius: 50%;
  height: 90%;
}
.channel-head-div .channel-head-name {
  position: relative;
  margin: auto 10px;
  color: black;
  margin-left: 20px;
}
