.send-new-message-form {
  background-color: rgb(241, 241, 241);
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 12px;
  max-width: 768px;
  transform: translateX(-50%);
  border-radius: 4px;
}
.send-new-message-form input {
  margin-top: 5px;
  border-radius: 16px;
  border: 1px solid rgb(223, 223, 223);
  padding: 12px;
  width: 100%;
}
.send-new-message-form img {
  width: 30px;
}
