form {
  background-color: lightgray;
  color: #ffffff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
form input {
  margin-left: 10px;
  width: 1000px;
}
form img {
  width: 30px;
}
