.send-new-message-form {
  margin-top: 5%;
  background-color: #f3f3f3;
  color: #ffffff;
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.send-new-message-form input {
  margin-left: 10px;
  width: 300px;
}

.send-new-message-form img {
  width: 30px;
}