* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  margin: auto;
}

.form-input {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  padding: 6% 4%;
}

.form-input .add-image-to-room {
  width: 10%;
}

.add-group-input {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-right: none;
  border-left: none;
  width: 85%;
}

.font-bold {
  font-weight: bold;
}

.wraper img {
  width: 33px;
  height: 33px;
}

.wraper-roomform {
  padding: 1% 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  position: relative;
}

.wraper-roomform img {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
}

.back-button {
  color: #3e99c0;
  cursor: pointer;
}

.back-button .svg-inline--fa {
  width: 1.3em;
  height: 1.3em;
}

.create-group-btn {
  background-color: #f6f6f6;
  color: #3e99c0;
  cursor: pointer;
}

.header-new-group {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: baseline;
  background: #f6f6f6;
  padding: 2% 4%;
}

.back-button button {
  width: 100px;
  height: 50px;
  text-align: center;
}

.container-roomform {
  margin-top: 10px;
  width: 90%;
  display: flex;
  margin: auto;
}

.container-roomform .selected-people-wraper {
  padding-left: 4%;
}

.heading-members-channel {
  text-align: left;
  font-size: 13px;
  padding: 1% 4%;
  background: #f6f6f6;
  width: 90%;
  margin: 0 auto 3%;
  color: #afafaf;
  font-weight: 400;
}

@media (max-width: 600px) {
  .header-new-group,
  .heading-members-channel,
  .form-input {
    width: 100%;
  }
  .form-input .add-image-to-room {
    padding-left: 5%;
  }
  .form-input .add-group-input {
    width: 72%;
  }
}
