.chat-message-container {
  width: 100%;
  height: 90%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}

.chat-message-ul {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
