.current-user-message, .other-users-message {
  border-radius: 10px;
  padding: 3%;
  color: white;
  display: inline-block;
  max-width: 80%;
  margin: 2% 0;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  margin: 5% 0;
}

.chat-message-container .current-user-message {
  background: #3e99c0;
  align-self: flex-end;
  color: white;
}

.chat-message-container .other-users-message {
  color: #353535;
  align-self: flex-start;
}

.other-users-message .chat-message-text {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5%;
}

.chat-message-text {
  margin-block-start: 0;
  margin-block-end: 0;
}

.other-users-message .messenge-photo {
  display: flex;
}

.other-users-message .messenge-photo img {
  align-self: baseline;
  width: 25%;
  margin-right: 5%;
  border-radius: 50%;
}

.other-users-message .user-name {
  text-align: left;
  font-size: 12px;
  margin-left: 25%;
}