.current-user-message,
.other-users-message {
  border-radius: 10px;
  padding: 12px;
  color: white;
  display: inline-block;
  max-width: 80%;
  margin: 12px 0 12px;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  padding: 0 5% 36px;
}

.chat-message-container .current-user-message {
  background: #3e99c0;
  align-self: flex-end;
  color: white;
}

.other-users-message {
  color: #353535;
  align-self: flex-start;
}

.other-users-message .chat-message-text {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 12px;
}

.chat-message-text {
  margin-block-start: 0;
  margin-block-end: 0;
}

.other-users-message .messenge-photo {
  display: flex;
}

.other-users-message .messenge-photo img {
  align-self: baseline;
  width: 25%;
  margin-right: 5%;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.other-users-message .user-name {
  text-align: left;
  font-size: 12px;
  margin-top: 8px;
}
