nav {
  display: none;
}

.home {
  width: 100%;
}

.home-container-logo-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  overflow: auto;
}

.home-img {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.home-logo-anna {
  width: 400px;
  height: 400px;
}
.home-buttons {
  bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-button-signup {
  margin-bottom: 16px;
  width: 295px;
  height: 48px;
}

.home-button-signup:hover {
  cursor: pointer;
}

.home-button-signin {
  border: 1px solid #3e99c0;
  border-radius: 8px;
  background-color: white;
  color: #3e99c0;
  width: 295px;
  height: 48px;
}

.home-button-signin:hover {
  cursor: pointer;
}

.home-hyf-text {
  display: flex;
  justify-content: center;
  bottom: 10%;
  margin-top: 16px;
}

.home-hyf-text p {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .home-logo-anna {
    width: 320px;
    height: 320px;
  }

  .home-buttons {
    bottom: 51px;
  }

  .home-img {
    margin-top: 8%;
  }

  .home-hyf-text p {
    font-size: 10px;
  }
}
