@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 17px;
}

#root {
  text-align: center;
  width: 30%;
  background-color: white;
  margin: 1% auto;
  padding-bottom: 5%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #333333;
  color: #2b3233;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3233;
}

button {
  background-color: rgb(76, 153, 153);
  border-radius: 5px;
  border-width: 0px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

@media screen and (max-width: 1050px) {
  #root {
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
    box-shadow: none;
    margin: 0;
  }
}