.message-list-send-message-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.no-messages {
  text-align: center;
  top: 42%;
  position: relative;
  transform: translateY(-50%);
}
