.last-messages-container {
  width: 343px;
  margin: 1% auto;
}

.last-messages-container .last-conversation-details,
.last-messages-container,
.last-messages-container .title-messages-container {
  display: flex;
}

.last-messages-container,
.last-messages-container .title-messages-container {
  flex-direction: column;
}

.last-conversation-details .last-messages-image img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.last-messages-container .last-conversation-details {
  margin-top: 2%;
  margin-bottom: 2%;
}

.last-conversation-details .last-messages-image {
  margin-right: 10%;
}

.last-conversation-details .last-messages-image,
.last-conversation-details .title-messages-container {
  align-self: center;
}

.last-conversation-details .title-messages-container h3 {
  margin-bottom: 5%;
}

.message-date {
  color: #9d9d9d;
}

.last-conversation-details:hover {
  background-color: #f2f9fb;
  cursor: pointer;
}

.last-messages-image {
  padding-top: 4px;
  padding-left: 4px;
}
